email-to-line-workflow.json
{
  "name": "うめきたの申し込みメール受信時の返信文の作成",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst from = item.json.From || '';\nconst subject = item.json.Subject || '';\nconst rawText = item.json.text || item.json.snippet || '';\n\n\n// ① <br>等のブロック要素を改行に変換してからHTMLタグを除去\nlet text = rawText\n  .replace(/<br\\s*\\/?>/gi, '\\n')\n  .replace(/<\\/?(p|div|td|tr|li|h[1-6])\\b[^>]*>/gi, '\\n')\n  .replace(/<[^>]*>/g, '')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\r\\n/g, '\\n')\n  .replace(/\\r/g, '\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .trim();\n\n// ② 既知フィールドラベルの前に改行を挿入（長い順に処理して誤マッチ防止）\nconst FIELD_LABELS = [\n  'お問い合わせの返信方法',\n  'お問い合わせが電話の場合の希望日時',\n  '出張先が自宅以外の場合は記入',\n  '運転をしていない期間',\n  '使用する教習車',\n  'マイカーの車種',\n  '第一希望時間', '第二希望時間', '第三希望時間',\n  '第一希望日',  '第二希望日',  '第三希望日',\n  'お支払い方法',\n  'メッセージ',\n  '講習の目安',\n  'ふりがな',\n  'メールアドレス',\n  '電話番号',\n  '出張先',\n  '住所',\n  '性別',\n  '名前',\n  '項目'\n];\n\nFIELD_LABELS.forEach(label => {\n  const esc = label.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  // 改行がない場合のみ前に改行を挿入\n  text = text.replace(new RegExp('([^\\n])(' + esc + '[：:])', 'g'), '$1\\n$2');\n});\n\n// ③ フィールド抽出（行頭アンカーで確実にマッチ）\nfunction extractField(src, fieldName) {\n  const esc = fieldName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const m = src.match(new RegExp('^' + esc + '[：:][ ]?(.+?)\\\\s*$', 'm'));\n  return m ? m[1].trim() : '';\n}\n\n// 各フィールドを抽出\nconst parsed = {\n  item:          extractField(text, '項目'),\n  name:          extractField(text, '名前'),\n  furigana:      extractField(text, 'ふりがな'),\n  email:         extractField(text, 'メールアドレス'),\n  phone:         extractField(text, '電話番号'),\n  gender:        extractField(text, '性別'),\n  address:       extractField(text, '住所'),\n  nodriving:     extractField(text, '運転をしていない期間'),\n  lessonTarget:  extractField(text, '講習の目安'),\n  car:           extractField(text, '使用する教習車'),\n  mycar:         extractField(text, 'マイカーの車種'),\n  location:      extractField(text, '出張先'),\n  locationOther: extractField(text, '出張先が自宅以外の場合は記入'),\n  date1:         extractField(text, '第一希望日'),\n  time1:         extractField(text, '第一希望時間'),\n  date2:         extractField(text, '第二希望日'),\n  time2:         extractField(text, '第二希望時間'),\n  date3:         extractField(text, '第三希望日'),\n  time3:         extractField(text, '第三希望時間'),\n  payment:       extractField(text, 'お支払い方法'),\n  message:       ''\n};\n\n// メッセージは複数行対応\nconst msgMatch = text.match(/^メッセージ[：:]\\s*([\\s\\S]+?)(?:\\n[^\\n：:]+[：:]|$)/m);\nif (msgMatch) {\n  parsed.message = msgMatch[1].trim();\n}\n\nconst isInquiryOnly = parsed.item.includes('お問い合わせのみ');\n\nreturn [{ json: { from, subject, rawBody: text, parsed, isInquiryOnly } }];\n"
      },
      "id": "27c410f9-08bb-4eec-bfb7-6e6628cd2b3b",
      "name": "メール内容を整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "oshima6.27@gmail.com",
          "mode": "list",
          "cachedResultName": "oshima6.27@gmail.com"
        },
        "options": {
          "timeMin": "={{ new Date().toISOString() }}",
          "timeMax": "={{ new Date(Date.now() + 60 * 24 * 60 * 60 * 1000).toISOString() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "95b8b724-c685-4b25-9f3f-21ad5d5b9b85",
      "name": "Googleカレンダー: イベント取得",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        864,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UBtNLVObMrSgMMZt",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// カレンダーイベントを整形\nconst events = $input.all();\nconst emailData = $('メール内容を整形').first().json;\nconst p = emailData.parsed;\n\nconst formattedEvents = events.map(e => {\n  const ev = e.json;\n  const start = ev.start?.dateTime || ev.start?.date || '';\n  const end = ev.end?.dateTime || ev.end?.date || '';\n  const title = ev.summary || '(無題)';\n  return { title, start, end };\n});\n\n// 今日の日付\nconst today = new Date();\nconst todayStr = today.toLocaleDateString('ja-JP', {\n  year: 'numeric', month: 'long', day: 'numeric', weekday: 'long',\n  timeZone: 'Asia/Tokyo'\n});\n\n// カレンダー予定の文字列化\nconst calendarSummary = formattedEvents.length > 0\n  ? formattedEvents.map(e => {\n      const s = new Date(e.start);\n      const en = new Date(e.end);\n      const dateStr = s.toLocaleDateString('ja-JP', {\n        month: 'long', day: 'numeric', weekday: 'short',\n        timeZone: 'Asia/Tokyo'\n      });\n      const startTime = s.toLocaleTimeString('ja-JP', {\n        hour: '2-digit', minute: '2-digit',\n        timeZone: 'Asia/Tokyo'\n      });\n      const endTime = en.toLocaleTimeString('ja-JP', {\n        hour: '2-digit', minute: '2-digit',\n        timeZone: 'Asia/Tokyo'\n      });\n      // 終日イベントの場合\n      if (e.start.length === 10) {\n        return `・${dateStr} 終日 ${e.title}`;\n      }\n      return `・${dateStr} ${startTime}〜${endTime} ${e.title}`;\n    }).join('\\n')\n  : '（予定なし）';\n\n// 申し込み内容のサマリー\nconst inquirySummary = `項目: ${p.item}\n名前: ${p.name}（${p.furigana}）様\nメールアドレス: ${p.email}\n電話番号: ${p.phone}\n運転していない期間: ${p.nodriving}\n使用車両: ${p.car}${p.mycar ? '（' + p.mycar + '）' : ''}\n出張先: ${p.location}${p.locationOther ? '（' + p.locationOther + '）' : ''}\n第一希望: ${p.date1} ${p.time1}\n第二希望: ${p.date2} ${p.time2}\n第三希望: ${p.date3} ${p.time3}\n支払い: ${p.payment}\nメッセージ: ${p.message}`;\n\nconst lineOfficialUrl = $vars.LINE_OFFICIAL_URL || 'https://lin.ee/vwFCADj';\n\nconst prompt = `あなたは「うめきた大阪ペーパードライバースクール」の受付担当・大西です。\n以下のお申し込みメールに対して、返信メールを作成してください。\n\n【スクール基本情報（返信作成の参考にすること）】\n- 出張教習専門のパーソナルスクール（完全予約制）\n- 代表：東山 勇人（指定自動車教習所15年勤務・教習指導員資格保有）\n- 無料出張範囲：大阪市24区・堺市一部・北摂地域・大阪東部地域・兵庫県（西宮・芦屋・尼崎・伊丹・神戸市一部）\n- 待ち合わせ：自宅出張 or 大阪駅・阪急中津駅周辺も可\n- キャンセル：当日朝8時までであれば振替可能（以降は消化扱い）\n- お支払い：初回教習終了後の現金払い（20時限以上は分割可）\n- 早期終了返金制度あり（8割消化以上かつ1日以上予約残の場合）\n\n【料金プラン一覧（コース提案の根拠として使用すること）】\n■ いきなり運転が怖い方向け\n  - 助手席プラン（50分）：8,000円\n  - お試し教習（70分）：12,000円 ※まず現状確認・時限数相談したい方に最適\n\n■ Executiveコーディネートプラン（1時限=50分）\n  - 10時限：75,000円（7,500円/時限）\n  - 20時限：146,000円（7,300円/時限）★一番人気\n  - 30時限：210,000円（7,000円/時限）\n  - ※10時限未満は 2時限16,000円／3時限24,000円／4時限32,000円／6時限48,000円／8時限64,000円\n\n■ 苦手ピンポイントプラン（普段運転している方も利用可）\n  - 駐車やり方学ぼう（2時限）：16,000円\n  - 駐車しっかり練習（6時限）：48,000円\n  - 高速乗ってみよう（3時限）：27,000円\n  - 遠方へチャレンジ（3時限）：24,000円\n  - 田舎道で半日練習 in 和歌山市【平日限定】（3時限）：24,000円\n  - 観光地で半日練習 in 淡路島【平日限定】（4時限）：36,000円\n  - 教習所卒業2年ざっくり（5時限）：33,000円\n  - 教習所卒業2年しっかり（10時限）：66,000円\n\n【コース提案の判断基準】\n- 駐車・車庫入れのみ練習したい → 「駐車やり方学ぼう（2時限）」または「駐車しっかり練習（6時限）」\n- ペーパー歴が長い・走る練習から必要そう → 「20時限コース（一番人気）」を優先提案\n- ペーパー歴が非常に長い（10年超）・強い不安あり → 「30時限コース」も視野に提案\n- 何時限か迷っている・まず現状を見てほしい → 「お試し教習（70分・12,000円）」を提案し、担当と相談の上でコースを決めることを案内\n- 高速・遠方・特定の目的地 → 対応するピンポイントプランを提案\n- 免許取得直後で不安 → 「教習所卒業2年プラン」を提案\n\n【今日の日付】\n${todayStr}\n\n【お申し込み内容】\n${inquirySummary}\n\n【カレンダーの予約状況（今後60日分）】\n${calendarSummary}\n\n---\n\n【返信メールの作成ルール】\n1. 書き出しは「${p.name}様」で始めること\n2. 次の一文を必ず入れること：「この度は当スクールにお問合せいただき、誠にありがとうございます。受付担当の大西と申します。」\n3. 希望日の空き状況を以下のルールで明記すること\n   - 空いている日程：「〇月〇日（曜日）〇時スタート可能です」と記載\n   - 埋まっている日程：「第〇希望は予約がいっぱいとなっております」と記載\n   - 空き枠が確認できた場合：「本日〇時まで仮押さえさせていただきます」と明記（翌日17時が目安）\n4. お客様の状況・目的・ペーパー歴に合わせて、上記【コース提案の判断基準】をもとに適切なコースを1〜2案提案すること\n   - 料金（総額・時限単価）も必ず記載すること\n   - 迷っている場合や現状不明な場合は「お試し教習（70分・12,000円）」を勧め、担当インストラクターと相談しながらプランを決められることを伝えること\n5. 以下の文言を必ず含めること：\n   「ご受講を進める場合は、下記LINE公式アカウントにご登録ください。当日の詳細をお送りします。登録後、${p.name}様のお名前のみお送りいただけますでしょうか。」\n6. 末尾にLINE公式アカウントのURLを記載すること：${lineOfficialUrl}\n7. 件名は「Re: [元の件名]」形式にすること\n8. 文体は丁寧・簡潔・温かみのあるトーンを意識すること（スクールの「親戚のお兄さん的存在」という雰囲気に寄せて、堅すぎず、かつ礼儀正しく）\n9. 以下の補足事項は必要に応じて自然に盛り込むこと（すべて記載する必要はない）\n   - 出張範囲外の場合は大阪駅集合が可能な旨\n   - キャンセル・振替は当日朝8時まで可能な旨\n   - 支払いは初回教習終了後でOKな旨\n   - WEB上に空き状況は公開していないため、随時問い合わせが必要な旨\n\n出力形式:\n件名: Re: [件名]\n\n[返信本文]`;\n\nreturn [\n  {\n    json: {\n      prompt,\n      emailFrom: emailData.from,\n      emailSubject: emailData.subject,\n      parsed: p,\n      isInquiryOnly: emailData.isInquiryOnly,\n      calendarEventCount: formattedEvents.length\n    }\n  }\n];\n"
      },
      "id": "671799b8-3d63-433f-8ec6-4389d4259238",
      "name": "カレンダー情報 & プロンプト作成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 2000, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "5151f25a-8d5b-4b38-b691-b1739ed6fb1c",
      "name": "Claude: 返信文作成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst prevData = $('カレンダー情報 & プロンプト作成').first().json;\nconst p = prevData.parsed;\n\n// Claudeの返信テキストを取得\nconst replyText = claudeResponse.content?.[0]?.text || '';\n\n// 申し込み種別ラベル\nconst typeLabel = prevData.isInquiryOnly ? '📋 お問い合わせ' : '📝 申し込み';\n\nconst message = [\n  `${typeLabel} 新着メール`,\n  '',\n  `【お客様情報】`,\n  `名前: ${p.name}（${p.furigana}）様`,\n  `項目: ${p.item}`,\n  `希望日: ${p.date1} ${p.time1} / ${p.date2} ${p.time2} / ${p.date3} ${p.time3}`,\n  '',\n  `【Claudeが作成した返信案】`,\n  `（カレンダー ${prevData.calendarEventCount}件の予定を確認済み）`,\n  '',\n  replyText,\n  '',\n  '---',\n  'この返信内容でよろしいですか？',\n  '✅ 承認して送信 / ✏️ 修正が必要'\n].join('\\n');\n\nreturn [\n  {\n    json: {\n      lineMessage: message,\n      lineBody: JSON.stringify({\n        to: \"Ua463857c1c61e16c09cc660730e69aca\",\n        messages: [{ type: 'text', text: message.substring(0, 5000) }]\n      }),\n      emailFrom: prevData.emailFrom,\n      emailSubject: prevData.emailSubject,\n      replyDraft: replyText,\n      customerName: p.name,\n      customerEmail: p.email\n    }\n  }\n];\n"
      },
      "id": "038551a8-a903-44b7-b492-176a98cf3fe0",
      "name": "LINEメッセージを整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer qPaC6YUJWQJrAxD8FmtGh1AxQ4uh7Ln+Hp8MDv1lIYK3Cqq2J7IC1rwAv7YypiBODGOQkzNMAv3u/z4fsPEqhvIKSyvUi21SctX66zxh+B5Se1QD3KsnCAnDtsCl/2gq/WhFMElwKj+h4xG+nM316AdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ to: \"Ua463857c1c61e16c09cc660730e69aca\", messages: [{ type: 'text', text: $json.lineMessage.substring(0, 5000) }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1728,
        0
      ],
      "id": "e60ad102-4e68-4d5f-a659-871ff0b9ca73",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread",
          "sender": "oshima6.27@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "96b3778b-0f0d-4db9-bc59-c4989f32da8d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "EgGoROOm4yURb2bA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "150f0b85-f37b-4ad9-a793-3b573c0d6ecd",
      "name": "Get a message",
      "webhookId": "0cefe59a-5a48-49e1-85bf-648cc6ed9454",
      "credentials": {
        "gmailOAuth2": {
          "id": "EgGoROOm4yURb2bA",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "メール内容を整形": {
      "main": [
        [
          {
            "node": "Googleカレンダー: イベント取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Googleカレンダー: イベント取得": {
      "main": [
        [
          {
            "node": "カレンダー情報 & プロンプト作成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "カレンダー情報 & プロンプト作成": {
      "main": [
        [
          {
            "node": "Claude: 返信文作成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: 返信文作成": {
      "main": [
        [
          {
            "node": "LINEメッセージを整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINEメッセージを整形": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "メール内容を整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e1494bd5-cd39-499a-b93c-44d329317b86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "730a65379556257951459885aba7b0250c5eee2c33c4674e3a380343c81ddba6"
  },
  "id": "OKWaxTGaiiviM1bF",
  "tags": []
}