email-to-line-workflow.json
{
  "name": "メール受信 → Claude返信作成 → LINE確認",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "mailbox": "INBOX",
        "options": {
          "allowUnauthorizedCerts": false,
          "forceReconnect": true
        }
      },
      "id": "email-trigger",
      "name": "メール受信トリガー (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 300],
      "credentials": {
        "imap": {
          "id": "imap-credentials",
          "name": "IMAPメール設定"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst from = item.json.from || '';\nconst subject = item.json.subject || '';\nconst text = item.json.text || item.json.textHtml || '';\n\n// HTMLタグを除去\nconst cleanText = text.replace(/<[^>]*>/g, '').replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').trim();\n\nreturn [\n  {\n    json: {\n      from,\n      subject,\n      body: cleanText,\n      rawEmail: item.json\n    }\n  }\n];"
      },
      "id": "extract-email",
      "name": "メール内容を整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "claude-opus-4-6",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "以下のメールに対する返信文を日本語で作成してください。\n\n【送信者】\n{{ $json.from }}\n\n【件名】\n{{ $json.subject }}\n\n【本文】\n{{ $json.body }}\n\n---\n返信文は丁寧で簡潔にまとめてください。件名の「Re:」も含めて出力してください。\n\n出力形式:\n件名: Re: [件名]\n\n[返信本文]"
            }
          ]
        },
        "options": {
          "maxTokensToSample": 1000
        }
      },
      "id": "claude-reply",
      "name": "Claude: 返信文作成",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [680, 300],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emailItem = $('メール内容を整形').first().json;\nconst claudeOutput = $input.first().json;\n\n// Claudeの返信テキストを取得\nconst replyText = claudeOutput.content?.[0]?.text || claudeOutput.text || String(claudeOutput);\n\nconst message = `📧 新着メールへの返信案\n\n【元メール】\n送信者: ${emailItem.from}\n件名: ${emailItem.subject}\n\n【Claudeが作成した返信案】\n${replyText}\n\n---\nこの返信内容でよろしいですか？\n✅ 承認して送信 / ✏️ 修正が必要`;\n\nreturn [\n  {\n    json: {\n      lineMessage: message,\n      emailFrom: emailItem.from,\n      emailSubject: emailItem.subject,\n      replyDraft: replyText\n    }\n  }\n];"
      },
      "id": "format-line-message",
      "name": "LINEメッセージを整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendMessage",
        "userId": "={{ $vars.LINE_USER_ID }}",
        "message": "={{ $json.lineMessage }}"
      },
      "id": "send-line",
      "name": "LINEに確認メッセージを送信",
      "type": "n8n-nodes-base.line",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "lineNotifyOAuth2Api": {
          "id": "line-credentials",
          "name": "LINE Notify設定"
        }
      }
    }
  ],
  "connections": {
    "メール受信トリガー (IMAP)": {
      "main": [
        [
          {
            "node": "メール内容を整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メール内容を整形": {
      "main": [
        [
          {
            "node": "Claude: 返信文作成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: 返信文作成": {
      "main": [
        [
          {
            "node": "LINEメッセージを整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINEメッセージを整形": {
      "main": [
        [
          {
            "node": "LINEに確認メッセージを送信",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["メール", "LINE", "Claude", "自動化"]
}
